@charset 'UTF-8';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: #333;
    background: #FAFAFA url(../images/kabegami.png);
    img {
        width: 100%;
    }
}

.btn {
    padding: 10px 40px;
    color: #FFF;
    background-color: #FF8441;
    font-weight: bold;
    border-radius: 50px;
    border: 1px solid #FF8441;
    text-align: center;
    transition: 0.2s;
    &:hover {
        color: #FF8441;
        background-color: #FFF;
    }
}

#header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding: 10px;
    align-items: center;

    .header-logo  {
      width: 80px;
      background-color: #FFF;
      border-radius: 20%;
    }

    .nav-pc {
      align-items: center;
      ul {
        display: flex;
        justify-content: center;
        gap: 30px;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
      }
    }

    .hamburger {
        display: none;
    }

    .nav-sp {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.6s ease, visibility 0.6s ease;
        width: 50%;
        height: 100vh;
        background-color: #FF8441;
        color: #FFF;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        text-align: center;
        ul {
            margin: 110px 0 40px 0;
            li {
                margin-bottom: 20px;
            }
        }
    }

    .btn {
        width: 190px;
        font-size: 18px;
    }
}

#mainvisual {
    height: 80vh;
    background-image: url(../images/top_pc.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 80px;

    .catchphrase {
        position: absolute;
        top: 46.7%;
        left: 5%;
        width: 500px;
        p {
            display: inline-block;
            color: #FFF;
            background-color: #46D3FF;
            font-weight: bold;
            font-size: 3rem;
            border-radius: 10px;
            padding: 5px;
        }
        p:nth-of-type(2) {
            margin-left: 210px;
        }
    }

    .garland {
        position: absolute;
        width: 350px;
        rotate: 25deg;
        right: 0;
        top: 80px;
        left: 50%;
        translate: 125px 0;
    }
    .ball {
        position: absolute;
        width: 120px;
        left: 50%;
        bottom: -40px;
        translate: -410px 0;
    }
    .crayon {
        position: absolute;
        width: 194px;
        bottom: -55px;
        left: 50%;
        right: 30px;
        translate: 280px 0;
    }
}

.wrapper {
    padding: 80px 40px;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 80px;
        span {
            background-image: linear-gradient(transparent 70%, #ff6 70%);
        }
    }

    .btn {
        display: block;
        width: 290px;
        font-size: 2rem;
        margin: 0 auto;
    }
}

#feature {
    position: relative;
    background-color: #FFF;

    .feature-list {
        display: flex;
        justify-content: center;
        gap: 90px;
        margin-bottom: 40px;
        li {
            max-width: 250px;
            margin-bottom: 40px;
            img {
                display: block;
                width: 250px;
                border-radius: 50%;
                border: 10px solid #46D3FF;
                object-fit: cover;
                margin-inline: auto;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }

    .sheep {
        width: 150px;
        position: absolute;
        bottom: 50px;
        left: 10%;
    }

    .penguin {
        width: 160px;
        position: absolute;
        bottom: 32px;
        right: 10%;
    }

    .wave-border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: rotate(180deg);
        fill: #FFF5E4;
        svg {
            width: 100%;
            height: 40px;
        }
    }
}

#course {
    background-color: #FFF5E4;
    position: relative;

    .course1, .course2, .course3 {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        .course-img {
            z-index: 10;
            width: 540px;
            img {
                border-radius: 30px;
                box-shadow: 2px 2px 8px #a7a6a6;
            }
        }
        .text {
            width: 470px;
            margin-top: 80px;
            margin-left: -40px;
            padding: 30px 60px;
            background-color: #FFF;
            border-radius: 30px;
            text-align: center;
            h3 {
                display: inline-block;
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 20px;
                border-bottom: 3px solid #46D3FF;
            }
            p:nth-of-type(1) {
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: 20px;
            }
            p:nth-of-type(2) {
                width: 350px;
                margin-bottom: 30px;
            }
            .course-btn {
                position: relative;
                color: #FFF;
                background-color:#46D3FF;
                border: 1px solid #46D3FF;
                border-radius: 30px;
                padding: 10px 40px;
                transition: 0.2s;
                &:hover {
                    color: #46D3FF;
                    background-color: #FFF;
                }
            }
            .course-btn::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 27px;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 8px;
                border-color: transparent transparent transparent #fff;
            }
            .course-btn:hover::after {
                border-color: transparent transparent transparent #46D3FF;
            }
        }
    }
    .course2 {
        flex-direction: row-reverse;
        .text {
            margin-right: -40px;
        }
    }

    .course-garland1 {
        position: absolute;
        width: 350px;
        rotate: 28deg;
        right: 5%;
        top: 190px;
        transform-origin: top right;
    }

    .book {
        position: absolute;
        width: 230px;
        left: 5%;
        top: 575px;
    }

    .flower {
        position: absolute;
        width: 200px;
        right: 5%;
        top: 980px;
        rotate: -20deg;
        transform-origin: bottom right;
    }

    .course-garland2 {
        position: absolute;
        width:350px;
        rotate: -10deg;
        bottom: 120px;
        transform-origin: top right;
    }
}

#news {
    position: relative;

    .news-container {
        max-width: 700px;
        margin: 0 auto;
        padding: 80px;
        background-color: #FFF;
        border: 3px solid #FF8441;
        border-radius: 30px;
        dl {
            a {
                display: flex;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid #333;
                dt {
                    white-space: nowrap;
                    margin-right: 40px;
                    font-size: 1.1rem;
                    font-weight: normal;
                }
            }
        }

        .btn {
            position: relative;
            width: 200px;
            font-size: 1rem;
            margin-top: 80px;
        }
        .btn::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 45px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 8px;
            border-color: transparent transparent transparent #fff;
        }
        .btn:hover::after {
            border-color: transparent transparent transparent #FF8441;
        }
    }

    .hamster {
        position: absolute;
        width: 200px;
        top: 80px;
        right: 8%;
        rotate: 20deg;
        transform-origin: bottom right;
    }

    .hyacinth {
        position: absolute;
        width: 160px;
        bottom: 40px;
        left: 10%;
        rotate: -20deg;
        transform-origin: bottom left;
    }

    .wave-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        fill: #FFF5E4;
        svg {
            width: 100%;
            height: 40px;
        }
    }

    .bottom-wave-border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: rotate(180deg);
        fill: #FFF5E4;
        svg {
            width: 100%;
            height: 40px;
        }
    }
}

#access {
    position: relative;
    background-color: #FFF5E4;
    padding-bottom: 150px;

    .access-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 80px;

        .information {
            width: 50%;
            p:nth-of-type(2) {
                margin-top: -10px;
                margin-bottom: 10px;
                font-size: 2rem;
                font-weight: bold;
            }

            dl {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.1rem;
                line-height: 2rem;
                dt {
                    width: 20%;
                }
                dd {
                    width: 70%;
                }
            }
        }

        .map{
            width: 50%;
            iframe {
                width: 100%;
                height: 350px;
            }
        }
    }

    .access-garland {
        position: absolute;
        width: 350px;
        rotate: 20deg;
        right: 5%;
        top: 140px;
        transform-origin: top right;
    }

    .slide {
        position: absolute;
        width: 230px;
        left: 5%;
        bottom: 40px;
    }
}

#footer p {
    padding: 38px 0;
    text-align: center;
    color: #FFF;
    background-color:#FF8441
}

#side-btn {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    width: 80px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    line-height: 1.3;
    text-align: center;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #46d3ff;
        color: #fff;
        border-radius: 44px 40px 53px 35px / 50%;
    }
}

@media screen and (max-width: 1260px) {
    #header {
        .nav-pc {
            ul li {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (width < 960px) {
    #header {
        justify-content: space-between;
        height: 70px;

        .header-logo {
            width: 50px;
        }
        .nav-pc, .btn {
            display: none;
        }

        .hamburger {
            display: block;
            width: 40px;
            height: 40px;
            position: fixed;
            top: 10px;
            right: 10px;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            background-color: #FF8441;
            border-radius: 5px;
            transition: 0.3s;
            z-index: 30;

            span {
                width: 20px;
                height: 2px;
                background: #FFF;
                position: absolute;
                left: 10px;
                transition: 0.3s ease-in-out;
            }
            span:nth-of-type(1) {
                top: 11px;
            }
            span:nth-of-type(2) {
                top: 19px;
            }
            span:nth-of-type(3) {
                top: 27px;
            }
        }

        .hamburger.active {
            span:nth-of-type(1) {
                rotate: -45deg;
                top: 19px
            }
            span:nth-of-type(3) {
                rotate: 45deg;
                top: 19px;
            }
            span:nth-of-type(2) {
                opacity: 0;
            }
        }

        .nav-sp.active {
            visibility: visible;
            opacity: 0.8;
        }
    }

    #mainvisual {
        background-size: cover;
        .catchphrase {
            width: 300px;
            p {
                font-size: 1.5rem;
            }
            p:nth-of-type(2) {
                margin-left: 110px;
            }
        }

        .garland {
            width: 200px;
            top: 50px;
            right: 0;
            left: auto;
            translate: none;
        }

        .ball {
            width: 60px;
            left: 30px;
            translate: none;
        }

        .crayon {
            width: 96px;
            left: auto;
            right: 30px;
            translate: none;
        }
    }

    .wrapper {
        padding: 80px 40px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 40px;
        }

        .btn {
            display: none;
        }
    }

    #feature {
        .feature-list {
            flex-direction: column;
            gap: 10px;
            margin-bottom: 0;
            li {
                margin-inline: auto;
                max-width: 300px;
                h3 {
                    text-align: center;
                    font-size: 1.125rem;
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }

        .sheep {
            display: none;
        }

        .penguin {
            display: none;
        }
    }

    #course {
        .course1, .course2, .course3 {
            flex-direction: column;
            max-width: 540px;
            margin-inline: auto;
            .course-img {
                width: 100%;
                img {
                    border-radius: 30px 30px 0 0;
                }
            }
            .text {
                width: 100%;
                margin: 0;
                border-radius: 0 0 30px 30px;
                h3 {
                    font-size: 1.125rem;
                }
                p:nth-of-type(1) {
                    font-size: 1rem;
                }
                p:nth-of-type(2) {
                    width: 100%;
                    text-align: left;
                }
            }
        }
        .course2 {
            flex-direction: auto;
        }

        .course3 {
            margin-bottom: 0;
        }

        .course-garland1, .book, .flower, .course-garland2 {
            display: none;
        }
    }

    #news {
        .news-container {
            max-width: 540px;
            padding: 20px;
            background-color: #FFF;
            border: 3px solid #FF8441;
            border-radius: 30px;

            h2 {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            dl {
                a {
                    display: block;
                    padding: 20px 0;
                    border-bottom: 1px solid #333;
                    dt {
                        white-space: nowrap;
                        margin-right: 40px;
                        font-size: 1.1rem;
                        font-weight: normal;
                    }
                }
            }

            .btn {
                display: block;
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }

        .hamster, .hyacinth {
            display: none;
        }
    }

    #access {
        padding-bottom: 80px;
        .access-container {
            width: auto;
            flex-direction: column;
            margin-inline: auto;
            margin-bottom: 50px;

            .information {
                width: 100%;
                text-align: left;
                margin-bottom: 20px;

                dl {
                    display: block;
                    line-height: 1.5rem;
                    dt, dd {
                        font-size: 1rem;
                        width: auto;
                    }
                    dd {
                        margin-bottom: 5px;
                    }
                }
            }

            .map {
                width: 100%;
                iframe {
                    height: 200px;
                }
            }
        }

        .btn {
            display: block;
            font-size: 1rem;
            width: 200px;
        }

        .access-garland, .slide {
            display: none;
        }
    }

    #side-btn.active {
        visibility: visible;
        opacity: 0.9;
    }
}